.item-quantity {
  height: 20px;
  width: 30px;
  margin-top: 11px;
  border-radius: 10%;
}

.item-image {
  height: 100%;
  width: 100%;
}

.item-rating {
  width: 45px;
}

.mat-card-order {
  height: 135px;
}

.delivery {
  padding-right: 83px;
}
