<div class="flex bg-header">
  <div class="flex-1 flex">
    <div class="flex-1 flex-center header-name">
      {{ headerName }}
    </div>
  </div>
  <div class="search-box-container flex">
    <div class="search-box">
      <div class="flex-center-all icon-search-size">
        <i class="material-icons">search</i>
      </div>
      <div class="flex-1 flex-center">
        <input id="searchText" type="text" autocomplete="off" class="full-width search-input" [(ngModel)]="searchText" placeholder="{{ 'PRODUCT.SEARCH_PRODUCTS' | translate }}" />
        <button *ngIf="searchText" class="icon-inner-cal" mat-icon-button (click)="clearSearch()">
          <i class="material-icons">close</i>
        </button>
      </div>
    </div>
  </div>
  <div class="flex-center-all" *ngIf="!isLoggedIn">
    <button class="login-button" mat-raised-button color="secondary" (click)="navigateToLogin()">
      <span>{{ "LOGIN.LOGIN" | translate }}</span>
    </button>
  </div>
  <div class="flex-1 flex" style="flex-direction: row-reverse">
    <div class="icon-menu-cal flex-center-all">
      <button class="icon-inner-cal" mat-icon-button matTooltip="{{ 'PRODUCT.CART' | translate }}">
        <mat-icon class="material-icons"> shopping_cart </mat-icon>
      </button>
      <button class="icon-inner-cal" mat-icon-button matTooltip="{{ 'SHARED.CHANGE_LANGUAGE' | translate }}" [matMenuTriggerFor]="menu" (click)="openLanguagesMenu()">
        <mat-icon class="material-icons"> language </mat-icon>
      </button>
      <mat-menu #menu="matMenu" overlapTrigger="false">
        <span>
          <button mat-menu-item (click)="changeLanguage('en')">English (en)</button>
        </span>
        <span>
          <button mat-menu-item (click)="changeLanguage('hin')">हिंदी (hin)</button>
        </span>
      </mat-menu>
      <button *ngIf="isLoggedIn" class="icon-inner-cal" mat-icon-button matTooltip="{{ 'LOGIN.LOGOUT' | translate }}" (click)="logout()">
        <mat-icon class="material-icons"> logout </mat-icon>
      </button>
    </div>
  </div>
</div>
