<mat-list>
  <mat-list-item class="font-weight-bold text-uppercase">{{ "PRODUCT.CATEGORIES" | translate }}</mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
<div class="accordion">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> {{ "PRODUCT.ELECTRONICS" | translate }} </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item class="clickable hoverable" (click)="onFilterByCategory('Smartphone')">{{
          "PRODUCT.SMARTPHONE" | translate
        }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="clickable hoverable" (click)="onFilterByCategory('Television')">{{
          "PRODUCT.TELEVISION" | translate
        }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="clickable hoverable" (click)="onFilterByCategory('Laptop')">{{ "PRODUCT.LAPTOP" | translate }}</mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="accordion">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> {{ "PRODUCT.FASHION" | translate }} </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item class="clickable hoverable" (click)="onFilterByCategory('T-Shirts')">{{
          "PRODUCT.T-SHIRTS" | translate
        }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="clickable hoverable" (click)="onFilterByCategory('Shirts')">{{ "PRODUCT.SHIRTS" | translate }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="clickable hoverable" (click)="onFilterByCategory('Jeans')">{{ "PRODUCT.JEANS" | translate }}</mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
