<mat-drawer-container class="mat-drawer-container">
  <mat-drawer mode="side" opened class="mat-drawer">
    <mat-list>
      <mat-list-item class="font-weight-bold text-uppercase">{{ "PRODUCT.CATEGORIES" | translate }}</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <div class="category-item">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> {{ "PRODUCT.ELECTRONICS" | translate }} </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item class="clickable hoverable" (click)="filterByCategory('Smartphone')">{{
              "PRODUCT.SMARTPHONE" | translate
            }}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="clickable hoverable" (click)="filterByCategory('Television')">{{
              "PRODUCT.TELEVISION" | translate
            }}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="clickable hoverable" (click)="filterByCategory('Laptop')">{{
              "PRODUCT.LAPTOP" | translate
            }}</mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="category-item">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> {{ "PRODUCT.FASHION" | translate }} </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item class="clickable hoverable" (click)="filterByCategory('T-Shirts')">{{
              "PRODUCT.T-SHIRTS" | translate
            }}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="clickable hoverable" (click)="filterByCategory('Shirts')">{{
              "PRODUCT.SHIRTS" | translate
            }}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="clickable hoverable" (click)="filterByCategory('Jeans')">{{ "PRODUCT.JEANS" | translate }}</mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-drawer>
  <mat-drawer-content class="mat-drawer-content">
    <div class="d-flex p-2">
      <div>{{ "SHARED.SHOWING_RESULTS" | translate }}: {{ "PRODUCT." + showingResultsFor | uppercase | translate }}</div>
      <div class="flex-fill"></div>
      <div [matMenuTriggerFor]="menu">{{ "SHARED.SORT_BY" | translate }}: {{ "SHARED." + selectedSortBy | translate }}</div>
      <mat-menu #menu="matMenu" overlapTrigger="false">
        <span>
          <button mat-menu-item (click)="sortProductsBy('PRICE_LTH')">{{ "SHARED.PRICE_LTH" | translate }}</button>
        </span>
        <span>
          <button mat-menu-item (click)="sortProductsBy('PRICE_HTL')">{{ "SHARED.PRICE_HTL" | translate }}</button>
        </span>
        <span>
          <button mat-menu-item (click)="sortProductsBy('RATING_HTL')">{{ "SHARED.RATING_HTL" | translate }}</button>
        </span>
      </mat-menu>
    </div>
    <div *ngIf="!displayedProducts || displayedProducts.length == 0" class="row justify-content-center">
      <div>{{ "PRODUCT.NO_PRODUCTS_FOUND" | translate }}</div>
    </div>
    <div class="row">
      <div class="col-md-4 p-2" *ngFor="let product of displayedProducts">
        <app-product [product]="product"></app-product>
      </div></div
  ></mat-drawer-content>
</mat-drawer-container>
