<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <mat-list>
        <mat-list-item class="font-weight-bold text-uppercase">{{ "CART.MY_CART" | translate }} ({{ cartItems.length }})</mat-list-item>
        <mat-divider></mat-divider>
        <div class="row">
          <div class="col-md-12 pb-1" *ngFor="let cartItem of cartItems">
            <app-cart-item
              [cartItem]="cartItem"
              (removeCartItem)="onRemoveCartItem($event)"
              (quantityChange)="onQuantityChange($event)"
            ></app-cart-item>
          </div>
        </div>
      </mat-list>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-3 position-fixed">
          <mat-list>
            <mat-list-item class="font-weight-bold text-uppercase">{{ "CART.PRICE_DETAILS" | translate }}</mat-list-item>
            <mat-divider></mat-divider>
            <app-price-details [cartItems]="cartItems"></app-price-details>
            <button mat-raised-button color="primary">
              <span>{{ "CART.PROCEED_TO_CHECKOUT" | translate }}</span
              >&nbsp;
              <mat-icon class="material-icons"> arrow_forward </mat-icon>
            </button>
          </mat-list>
        </div>
      </div>
    </div>
  </div>
</div>
