.auth-ctr {
  min-width: 400px;

  .auth-form {
    max-width: 400px;
    margin-top: 20px;

    .card-content {
      display: flex;
      flex-direction: column;
      height: 140px;
    }

    .auth-form-row {
      height: 60px;

      mat-error {
        font-size: 11px;
      }
    }

    .auth-form-footer {
      height: 40px;
    }
  }
}
