<mat-card>
  <mat-card-content>
    <div class="d-flex row">
      <div class="col-md-4 clickable" (click)="navigateToProductDetails()">
        <img [src]="cartItem.imageUrl" [alt]="cartItem.name" width="100%" class="img-fluid rounded" />
      </div>
      <div class="col-md-8">
        <span class="text-uppercase font-weight-bold pb-1 clickable" (click)="navigateToProductDetails()">{{ cartItem.name }}</span>
        <div class="pb-3 text-secondary">
          {{ "PRODUCT.SELLER" | translate }}: <span class="text-uppercase">{{ cartItem.seller }}</span>
        </div>
        <div class="text-success font-weight-bold">
          {{ cartItem.price * cartItem.quantity | currency: "INR":true }}
        </div>
        <div class="mt-4 d-flex">
          <button mat-icon-button (click)="decreaseProductQuantity()" [disabled]="disableDecreaseQuantityButton()">
            <mat-icon class="material-icons"> remove_circle_outline </mat-icon>
          </button>
          <input class="item-quantity" type="text" autocomplete="off" [(ngModel)]="cartItem.quantity" readonly />
          <button mat-icon-button (click)="increaseProductQuantity()" [disabled]="disableIncreaseQuantityButton()">
            <mat-icon class="material-icons"> add_circle_outline </mat-icon>
          </button>
          <button mat-button class="ml-auto" (click)="confirmRemoveCartItem()">
            <mat-icon class="material-icons"> remove_shopping_cart </mat-icon>&nbsp;
            <span>{{ "SHARED.REMOVE" | translate }}</span>
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
