$header-font-size: 18px;
$header-bg-color: #3367d6;
$header-denim-color: #2850a7;
$header-faded-blue: #bcd5ec;

$body-bg-color: #fbfbfb;

$icon-color: #555;
$icon-hover-color: #222;
$icon-disabled-color: #777;

$white: #fff;
