$header-font-size: 18px;
$header-bg-color: #3f51b5;
$header-search-color: #fff;
$header-faded-blue: #1c78ce;

$body-bg-color: #fbfbfb;

$icon-color: #555;
$icon-hover-color: #222;
$icon-disabled-color: #777;

$white: #fff;
$error: red;
$success: green;
