$header-font-size: 18px;
$header-bg-color: #1d73be;
$header-denim-color: #1b619f;
$header-faded-blue: #bcd5ec;

$body-bg-color: #fbfbfb;

$icon-color: #555;
$icon-hover-color: #222;
$icon-disabled-color: #777;
